@using BugTracker.Models
@model ApplicationUser
    ViewBag.Title = "ManageUserRoles";
}

<h2>ManageUserRoles</h2>
<div class="row">
    <div class="col-3 text-center h2">
        managing role for @Model.FullName
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-3">
            @Html.DropDownList("RoleName", "-- NO ROLE --")
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button type="submit">Manage Role</button>
        </div>
    </div>
}
