@{
    ViewBag.Title = "Home Page";
}

<div id="myfirstchart" style="height: 250px;"></div>

@section scripts{

    <script>
        var url = '@Url.Action("GetTicketPriorityData", "MorrisCharts")'
        $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
            success: function (response) {
                    new Morris.Bar({
                        // ID of the element in which to draw the chart.
                        element: 'myfirstchart',
                        // Chart data records -- each entry in this array corresponds to a point on
                        // the chart.
                        data: response,
                        // The name of the data record attribute that contains x-values.
                        xkey: 'Label',
                        // A list of names of data record attributes that contain y-values.
                        ykeys: ['Value'],
                        // Labels for the ykeys -- will be displayed when you hover over the
                        // chart.
                        labels: ['Value']
                    });
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
    </script>
    
}